@font-face {
  font-family: 'Futura PT Demi';
  src: url("../fonts/FuturaPT-Demi.eot");
  src: url("../fonts/FuturaPT-Demi.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Demi.woff") format("woff"), url("../fonts/FuturaPT-Demi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Book';
  src: url("../fonts/FuturaPT-Book.eot");
  src: url("../fonts/FuturaPT-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Book.woff") format("woff"), url("../fonts/FuturaPT-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Futura PT Demi', sans-serif;
}

p {
  font-family: 'Futura PT Book', sans-serif;
}

a {
  text-decoration: none;
  font-family: 'Futura PT Demi', sans-serif;
}

.section {
  margin-top: 40px;
}

.section_title {
  margin-bottom: 20px;
  color: #434343;
}

.header {
  margin-top: 30px;
  font-family: 'Futura PT Demi', sans-serif;
}

.header__title {
  font-family: 'Sunshiney', cursive;
  font-size: 34px;
  color: #FE999B;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__title:hover {
  color: #FD6D70;
}

.header__subtitle {
  font-style: italic;
}

.header_contacts {
  text-align: center;
}

.header_contacts__phone {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
  color: #434343;
}

.header_contacts__phone:after {
  margin-top: 5px;
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #FE999B;
}

.header_contacts__time {
  font-style: italic;
  font-size: 18px;
  color: #616161;
  font-family: 'Futura PT Book', sans-serif;
}

.header_socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header_socials a {
  font-size: 14px;
  margin-left: 20px;
  color: #616161;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header_socials a:hover {
  color: #FD6D70;
}

.header_socials a i {
  color: #FE999B;
  margin-right: 10px;
  font-size: 28px;
}

.header_bars a {
  font-size: 34px;
  color: #000000;
}

.nav {
  font-family: 'Futura PT Demi', sans-serif;
  margin-top: 30px;
  background-color: #FE999B;
}

.nav-active {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.nav-menu {
  font-size: 18px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-menu li {
  padding: 10px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav-menu li:hover {
  background-color: #FD6D70;
}

.nav-menu li:hover > ul {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-menu li a {
  padding: 10px 20px;
  text-transform: uppercase;
  color: snow;
}

.nav-menu li ul {
  z-index: -1;
  display: none;
  background-color: #FE999B;
  position: absolute;
  margin-top: 10px;
  list-style: none;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slider {
  position: relative !important;
}

.slider_item {
  outline: none;
}

.slider_item__info {
  padding: 30px;
}

.slider_item__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: hidden;
}

.slider_item__img img {
  max-width: 100%;
  background: url("../img/1.jpg") no-repeat center top;
  background-size: contain;
}

.slider_item__title {
  display: inline-block;
  padding: 0 5px;
  text-transform: uppercase;
  margin-bottom: 30px;
  background-color: #FE999B;
  color: #fff;
  font-size: 1.5rem;
}

.slider_item__text {
  margin-bottom: 30px;
  font-size: 18px;
}

.slider_item__link {
  display: inline-block;
  margin-bottom: 20px;
  color: #FD6D70;
  padding: 10px;
  border: 1px solid #FD6D70;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slider_item__link:hover {
  -webkit-box-shadow: 0 0 10px #FEBBBD;
          box-shadow: 0 0 10px #FEBBBD;
}

.slider-dots {
  position: absolute;
  bottom: 20px;
  left: 20px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-dots li button {
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  background-color: #FE999B;
  color: #FE999B;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slider-dots li button:hover {
  background-color: #FEBBBD;
  color: #FEBBBD;
}

.slider-dots li button[aria-selected='true'] {
  background-color: #FD6D70;
  color: #FD6D70;
}

@media (max-width: 767px) {
  .section {
    margin-top: 20px;
  }
  .header {
    margin-top: 10px;
  }
  .header_bars a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #FE999B;
  }
  .header_bars a .fa-bars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header_bars a .fa-bars-change {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: none;
    opacity: 0;
  }
  .header_bars a .fa-window-close {
    display: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header_bars a .fa-window-close-change {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
  }
  .nav {
    z-index: 99;
    margin-top: 20px;
    position: absolute;
    right: 0;
    opacity: 0;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right center 0;
            transform-origin: right center 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .nav_active {
    opacity: 1;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .nav .container, .nav .container-fluid {
    margin: 0;
    padding: 0;
  }
  .nav-menu {
    display: block;
  }
  .nav-menu li {
    padding: 0;
    position: relative;
    z-index: 20;
  }
  .nav-menu li:hover > ul {
    background-color: #FD6D70;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-menu li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    color: #fff;
    font-size: 16px;
  }
  .nav-menu li ul {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top center 0;
            transform-origin: top center 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: relative;
    margin-top: 0;
    padding-left: 10px;
  }
  .nav-menu li ul li {
    padding: 0;
  }
  .content {
    position: relative;
  }
  .popup {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 18;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.8;
  }
  .slider {
    position: relative;
  }
  .slider_item__info {
    padding: 10px;
  }
  .slider_item__title {
    margin-bottom: 10px;
  }
  .slider_item__text {
    margin-bottom: 10px;
  }
  .slider-dots {
    top: -20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .slider-dots li button {
    font-size: 1px;
    width: 10px;
    height: 10px;
  }
}
/*# sourceMappingURL=style.css.map */