@font-face {
  font-family: 'Futura PT Demi';
  src: url("../fonts/FuturaPT-Demi.eot");
  src: url("../fonts/FuturaPT-Demi.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Demi.woff") format("woff"), url("../fonts/FuturaPT-Demi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Book';
  src: url("../fonts/FuturaPT-Book.eot");
  src: url("../fonts/FuturaPT-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Book.woff") format("woff"), url("../fonts/FuturaPT-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Light';
  src: url("../fonts/FuturaPT-Light.eot");
  src: url("../fonts/FuturaPT-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Light.woff") format("woff"), url("../fonts/FuturaPT-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

h2, h3, h4, h5, h6 {
  font-family: 'Futura PT Demi', sans-serif;
}

p {
  font-family: 'Futura PT Book', sans-serif;
}

a {
  text-decoration: none;
  font-family: 'Futura PT Demi', sans-serif;
}

img {
  width: 100%;
}

.slick-track {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

.slick-prev, .slick-next {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 200;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slick-prev:hover > i, .slick-next:hover > i {
  color: #4d4d4d;
}

.slick-prev i, .slick-next i {
  font-size: 30px;
  color: grey;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slick-prev {
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slick-next {
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.fixed {
  position: fixed;
  width: 100%;
}

.header {
  margin-top: 30px;
  font-family: 'Futura PT Demi', sans-serif;
}

.header__title {
  font-family: 'Arizonia', cursive;
  font-size: 50px;
  color: #f3166b;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__title:hover {
  color: #007d92;
}

.header__subtitle {
  font-style: italic;
}

.header_contacts {
  text-align: center;
}

.header_contacts__phone {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
  color: #222;
}

.header_contacts__phone:after {
  margin-top: 5px;
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background-image: -webkit-gradient(linear, left top, right top, from(#007d92), to(#f3166b));
  background-image: linear-gradient(90deg, #007d92, #f3166b);
}

.header_contacts__time {
  font-style: italic;
  font-size: 18px;
  color: #616161;
  font-family: 'Futura PT Book', sans-serif;
}

.header_socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header_socials a {
  font-size: 14px;
  margin-left: 20px;
  color: #616161;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_socials a:hover {
  color: #1155CC;
}

.header_socials a:first-child {
  margin-bottom: 5px;
}

.header_socials img {
  margin-right: 2px;
  width: 20px;
  height: 20px;
}

.header_bars a {
  font-size: 34px;
}

.nav {
  font-family: 'Futura PT Demi', sans-serif;
  margin-top: 20px;
  background-image: -webkit-gradient(linear, left top, right top, from(#007d92), to(#f3166b));
  background-image: linear-gradient(90deg, #007d92, #f3166b);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 200;
}

.nav-menu {
  font-size: 18px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-menu:before {
  content: '';
  display: block;
  width: 20px;
  height: auto;
  background-color: #fff;
}

.nav-menu:after {
  content: '';
  display: block;
  width: 20px;
  height: auto;
  background-color: #fff;
}

.nav-menu li {
  padding: 10px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-right: 1px solid white;
}

.nav-menu li:last-child {
  border-right: none;
}

.nav-menu li:hover {
  background-color: #007d92;
}

.nav-menu li:hover > ul {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  z-index: 0;
}

.nav-menu li a {
  padding: 10px 20px;
  text-transform: uppercase;
  color: snow;
}

.nav-menu li ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FE999B;
  position: absolute;
  margin-top: 10px;
  list-style: none;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top center 0;
          transform-origin: top center 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.stocks:after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #d9216f;
}

.stocks-title {
  margin-top: 40px;
  margin-bottom: 20px;
}

.stocks_title {
  font-family: 'Futura PT Demi', sans-serif;
  color: #222;
  text-align: left;
}

.stocks-slider {
  position: relative !important;
}

.stocks-slider_item {
  outline: none;
}

.stocks-slider_item__info {
  padding: 30px;
}

.stocks-slider_item__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: hidden;
}

.stocks-slider_item__img img {
  max-width: 100%;
  background: url("../img/1.jpg") no-repeat center top;
  background-size: contain;
}

.stocks-slider_item__title {
  display: inline-block;
  padding: 0 5px;
  text-transform: uppercase;
  margin-bottom: 30px;
  background-color: #d9216f;
  color: #fff;
  font-size: 1.5rem;
  font-family: 'Futura PT Demi', sans-serif;
}

.stocks-slider_item__text {
  margin-bottom: 30px;
  font-size: 18px;
}

.stocks-slider_item__link {
  display: inline-block;
  margin-bottom: 20px;
  color: #d9216f;
  padding: 10px;
  border: 2px solid #d9216f;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.stocks-slider_item__link:hover {
  color: #007d92;
  border: 2px solid #007d92;
}

.stocks-slider-dots {
  position: absolute;
  bottom: 20px;
  left: 20px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stocks-slider-dots li button {
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  background-color: #007d92;
  color: #007d92;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.stocks-slider-dots li button:hover {
  background-color: #ea76a7;
  color: transparent;
}

.stocks-slider-dots li button[aria-selected='true'] {
  background-color: #d9216f;
  color: transparent;
}

.section {
  position: relative;
}

.section:after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-image: -webkit-gradient(linear, left top, right top, from(#007d92), to(#f3166b));
  background-image: linear-gradient(90deg, #007d92, #f3166b);
}

.section-title {
  margin-top: 40px;
  margin-bottom: 20px;
}

.section_title {
  font-family: 'Futura PT Demi', sans-serif;
  color: #222;
  text-align: left;
}

.section_subtitle {
  margin-top: 20px;
}

.products-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.products-grid_item {
  outline: 1px solid #cdcdcd;
  margin: 5px;
  max-width: 23%;
  padding: 16px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.products-grid_item:hover {
  -webkit-box-shadow: 0 6px 24px 0 rgba(47, 47, 47, 0.12);
          box-shadow: 0 6px 24px 0 rgba(47, 47, 47, 0.12);
}

.products-grid_item:hover .products-grid_item__title {
  color: #f3166b;
}

.products-grid_item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products-grid_item__img {
  width: 100%;
  margin-top: 20px;
}

.products-grid_item__status {
  font-size: 18px;
  position: absolute;
  left: 10px;
  top: 10px;
  display: block;
  color: white;
  padding: 5px;
  border-radius: 5px;
  line-height: 0.8;
}

.products-grid_item__status-new {
  background-color: #48A61C;
}

.products-grid_item__status-favorite {
  background-color: #fdae55;
}

.products-grid_item__status-sale {
  background-color: #ff5575;
}

.products-grid_item__title {
  margin-top: 20px;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Futura PT Demi', sans-serif;
  color: #007d92;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.products-grid_item__description {
  margin-top: 10px;
  font-size: 16px;
  color: #616161;
  text-align: left;
  margin-bottom: 10px;
}

.products-grid_item-bottom {
  width: 100%;
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.products-grid_item__price {
  font-size: 18px;
  font-weight: 700;
  font-family: 'Futura PT Demi', sans-serif;
  color: #222;
}

.products-grid_item__price i {
  font-size: 16px;
  color: #222;
}

.products-grid_item__price-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-grid_item__price__wrong {
  font-size: 18px;
  font-weight: 700;
  font-family: 'Futura PT Demi', sans-serif;
  color: #ff5575;
  margin-right: 10px;
}

.products-grid_item__price__sale {
  font-size: 18px;
  font-weight: 700;
  font-family: 'Futura PT Demi', sans-serif;
  color: #222;
}

.products-grid_item__price__sale i {
  font-size: 16px;
  color: #222;
}

.products-grid_item__link {
  display: inline-block;
  color: #222;
  padding: 10px;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: -1px 1px 5px rgba(34, 34, 34, 0.5);
          box-shadow: -1px 1px 5px rgba(34, 34, 34, 0.5);
}

.products-grid_item__link:hover {
  -webkit-box-shadow: -3px 3px 5px rgba(34, 34, 34, 0.5);
          box-shadow: -3px 3px 5px rgba(34, 34, 34, 0.5);
}

.products-link {
  margin: 40px;
  text-align: center;
}

.products_link {
  padding: 10px 20px;
  background-color: #007d92;
  border-radius: 30px;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.products_link:hover {
  background-color: #f3166b;
}

.products-card {
  margin-top: 60px;
}

.products-card:after {
  content: '';
  margin-top: 20px;
  display: block;
  width: 100%;
  height: 2px;
  background-image: -webkit-gradient(linear, left top, right top, from(#007d92), to(#f3166b));
  background-image: linear-gradient(90deg, #007d92, #f3166b);
}

.products-card_img img {
  border: 1px solid #d4d4d4;
  max-width: 100%;
  cursor: pointer;
}

.products-card_img__main .slick-current img {
  border: 1px solid #007d92 !important;
}

.products-card_img__primary {
  margin-top: 10px;
}

.products-card_img__primary__item {
  margin: 0 5px;
}

.products-card_img__primary .slick-current img {
  border: 1px solid #007d92 !important;
}

.products-card_info__title {
  margin-bottom: 10px;
  color: #222;
}

.products-card_info__subtitle {
  margin-bottom: 30px;
}

.products-card_info__option-block {
  font-size: 20px;
  margin-bottom: 30px;
}

.products-card_info__option-title {
  color: #616161;
}

.products-card_info__option-value {
  color: #222;
}

.products-card_info__price {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 700;
}

.products-card_info__price i {
  font-size: 18px;
}

.products-card_info__description:before {
  margin-bottom: 10px;
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-image: -webkit-gradient(linear, left top, right top, from(#007d92), to(#f3166b));
  background-image: linear-gradient(90deg, #007d92, #f3166b);
}

.products-card_property {
  font-size: 18px;
  margin-top: 20px;
}

.products-card_property:after {
  margin-top: 20px;
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(#007d92), to(#f3166b));
  background-image: linear-gradient(90deg, #007d92, #f3166b);
}

.products-card_property p {
  color: grey;
  margin-bottom: 5px;
}

.products-card_property p span {
  color: black;
}

.products-card_price {
  padding: 20px 0;
}

.products-card_price p {
  font-size: 20px;
  font-weight: 700;
}

.products-card_price p i {
  font-size: 18px;
}

.products-card_similar {
  margin-top: 20px;
}

.products-card_similar__header {
  color: #595959;
}

.products-card_similar__slider {
  position: relative;
}

.products-card_similar__item {
  border: 1px solid #d4d4d4;
  margin: 10px;
  padding: 10px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.products-card_similar__item:hover {
  -webkit-box-shadow: 0 6px 24px 0 rgba(47, 47, 47, 0.12);
          box-shadow: 0 6px 24px 0 rgba(47, 47, 47, 0.12);
}

.products-card_similar__item:hover .products-card_similar__item__title {
  color: #f3166b;
}

.products-card_similar__item__img {
  width: 100%;
}

.products-card_similar__item__title {
  margin-top: 20px;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Futura PT Demi', sans-serif;
  color: #007d92;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.products-card_similar__item__description {
  margin-top: 10px;
  font-size: 16px;
  color: #616161;
  text-align: left;
  margin-bottom: 10px;
}

.products-card_similar__item-bottom {
  width: 100%;
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.products-card_similar__item__price {
  font-size: 18px;
  font-weight: 700;
  font-family: 'Futura PT Demi', sans-serif;
  color: #222;
}

.products-card_similar__item__price i {
  font-size: 16px;
  color: #222;
}

.footer {
  margin-top: 30px;
  padding: 20px 0;
  background-color: #222;
}

.footer_logo {
  text-align: left;
}

.footer_title {
  font-family: 'Arizonia', cursive;
  color: white;
  font-weight: lighter;
  border-bottom: 1px solid grey;
  cursor: pointer;
}

.footer-description {
  margin-top: 10px;
  color: white;
}

.footer-menu {
  padding: 0;
  list-style: none;
}

.footer-menu li {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer-menu li:hover > a:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.footer-menu li a {
  color: white;
  font-size: 18px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: 'Futura PT Book', sans-serif;
  transition: 0.3s;
}

.footer-menu li a:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: grey;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__phone {
  font-family: 'Futura PT Book', sans-serif;
  font-size: 24px;
  color: white;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.footer__time {
  font-size: 18px;
  font-style: italic;
  color: white;
  font-family: 'Futura PT Light', sans-serif;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.footer_socials {
  margin-top: 10px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.footer_socials:nth-child(odd) i {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_socials:nth-child(odd) i:hover {
  background-color: grey;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .products-grid_item__title {
    font-size: 16px;
  }
  .products-grid_item__description {
    font-size: 14px;
  }
  .products-grid_item-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .products-grid_item__link {
    margin-top: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header__title {
    font-size: 36px;
  }
  .nav-menu:before {
    display: none;
  }
  .nav-menu:after {
    display: none;
  }
  .products-grid_item {
    max-width: 48%;
  }
  .products-grid_item__title {
    font-size: 16px;
  }
  .products-grid_item__description {
    font-size: 14px;
  }
  .products-grid_item__price {
    margin-bottom: 10px;
  }
  .products-grid_item__price__sale {
    margin: 10px 0;
  }
}

@media (min-width: 400px) and (max-width: 767px) {
  .section {
    border-bottom: none;
  }
  .section-title {
    margin-top: 20px;
    margin-bottom: 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: block;
    z-index: 2000;
    background-color: #fff;
  }
  .section_title {
    border-bottom: 1px solid #FE999B;
    font-family: 'Futura PT Light', sans-serif;
  }
  .header {
    margin-top: 10px;
  }
  .header__title {
    font-size: 40px;
  }
  .header__subtitle {
    display: none;
  }
  .header_bars a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #f3166b;
  }
  .header_bars a .fa-bars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header_bars a .fa-bars-change {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: none;
    opacity: 0;
  }
  .header_bars a .fa-window-close {
    display: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header_bars a .fa-window-close-change {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
  }
  .nav {
    z-index: 6;
    position: absolute;
    top: 45px;
    right: 0;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right center 0;
            transform-origin: right center 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: white;
    opacity: 0;
  }
  .nav_active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .nav .container, .nav .container-fluid {
    margin: 0;
    padding: 0;
  }
  .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
  }
  .nav-menu li {
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .nav-menu li:hover {
    background-color: white;
  }
  .nav-menu li a {
    font-family: 'Futura PT Light', sans-serif;
    font-weight: 700;
    border-bottom: 1px solid #f3166b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px;
    color: #f3166b;
    font-size: 14px;
  }
  .nav-menu li ul {
    display: block;
    background-color: white;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    position: relative;
    margin-top: 0;
    padding-left: 40px;
  }
  .nav-menu li ul li {
    padding: 0;
  }
  .wrapper {
    position: relative;
  }
  .popup {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.8;
  }
  .stocks-slider {
    position: relative;
  }
  .stocks-slider_item__info {
    padding: 10px;
  }
  .stocks-slider_item__title {
    margin-bottom: 10px;
  }
  .stocks-slider_item__text {
    margin-bottom: 10px;
  }
  .stocks-slider-dots {
    top: -20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .stocks-slider-dots li button {
    font-size: 1px;
    width: 10px;
    height: 10px;
  }
  .products-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .products-grid_item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
    margin: 2px;
    max-width: 48%;
    padding: 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    margin-bottom: 20px;
  }
  .products-grid_item__title {
    font-size: 15px;
  }
  .products-grid_item__description {
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .products-grid_item-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .products-grid_item__price {
    padding: 10px;
    font-size: 16px;
  }
  .products-grid_item__price i {
    font-size: 14px;
  }
  .products-grid_item__link {
    display: none;
  }
  .products-card {
    margin-top: 10px;
  }
  .products-card_info__title {
    margin-top: 20px;
  }
  .footer-item {
    text-align: center;
  }
  .footer-menu li {
    padding: 10px 0;
  }
  .footer_contacts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__phone {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .footer__time {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .footer_socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 10px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 399px) {
  .section {
    border-bottom: none;
  }
  .section-title {
    margin-top: 20px;
    margin-bottom: 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: block;
    z-index: 2000;
    background-color: #fff;
  }
  .section_title {
    border-bottom: 1px solid #f3166b;
    font-family: 'Futura PT Light', sans-serif;
  }
  .header {
    margin-top: 10px;
  }
  .header__title {
    font-size: 36px;
  }
  .header__subtitle {
    display: none;
  }
  .header_bars a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #f3166b;
  }
  .header_bars a .fa-bars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header_bars a .fa-bars-change {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: none;
    opacity: 0;
  }
  .header_bars a .fa-window-close {
    display: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header_bars a .fa-window-close-change {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
  }
  .nav {
    z-index: 6;
    position: absolute;
    top: 45px;
    right: 0;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right center 0;
            transform-origin: right center 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: white;
    opacity: 0;
  }
  .nav_active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .nav .container, .nav .container-fluid {
    margin: 0;
    padding: 0;
  }
  .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
  }
  .nav-menu li {
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .nav-menu li:hover {
    background-color: white;
  }
  .nav-menu li a {
    font-family: 'Futura PT Light', sans-serif;
    font-weight: 700;
    border-bottom: 1px solid #f3166b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px;
    color: #f3166b;
    font-size: 14px;
  }
  .nav-menu li ul {
    display: block;
    background-color: white;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    position: relative;
    margin-top: 0;
    padding-left: 40px;
  }
  .nav-menu li ul li {
    padding: 0;
  }
  .wrapper {
    position: relative;
  }
  .popup {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.8;
  }
  .stocks-slider {
    position: relative;
  }
  .stocks-slider_item__info {
    padding: 10px;
  }
  .stocks-slider_item__title {
    margin-bottom: 10px;
  }
  .stocks-slider_item__text {
    margin-bottom: 10px;
  }
  .stocks-slider-dots {
    top: -20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .stocks-slider-dots li button {
    font-size: 1px;
    width: 10px;
    height: 10px;
  }
  .products-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .products-grid_item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 98%;
            flex: 0 0 98%;
    margin: 2px;
    max-width: 98%;
    padding: 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    margin-bottom: 20px;
  }
  .products-grid_item__title {
    font-size: 15px;
  }
  .products-grid_item__description {
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .products-grid_item-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .products-grid_item__price {
    padding: 10px;
    font-size: 16px;
  }
  .products-grid_item__price i {
    font-size: 14px;
  }
  .products-grid_item__link {
    display: none;
  }
  .products-card {
    margin-top: 10px;
  }
  .products-card_info__title {
    margin-top: 20px;
  }
  .footer-item {
    text-align: center;
  }
  .footer-menu li {
    padding: 10px 0;
  }
  .footer_contacts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__phone {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .footer__time {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .footer_socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 10px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
/*# sourceMappingURL=style.css.map */