* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
}

a {
  text-decoration: none;
}

.section {
  margin-top: 40px;
}

.section_title {
  margin-bottom: 20px;
}

.header {
  margin-top: 30px;
  font-family: 'Roboto Condensed', sans-serif;
}

.header__title {
  font-family: 'Sunshiney', cursive;
  font-size: 34px;
  color: #62db9e;
}

.header_contacts {
  text-align: center;
}

.header_contacts__phone {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  color: #000;
}

.header_contacts__phone:after {
  margin-top: 5px;
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #62db9e;
}

.header_contacts__time {
  font-style: italic;
  font-size: 14px;
  color: #616161;
}

.header_socials a {
  font-size: 28px;
  margin-left: 20px;
  color: #62db9e;
}

.header_bars a {
  font-size: 34px;
  color: #000000;
}

.nav {
  margin-top: 30px;
  background-color: #62db9e;
}

.nav-active {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.nav-menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-menu li {
  padding: 10px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav-menu li:hover {
  background-color: #28af6b;
}

.nav-menu li:hover > ul {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-menu li a {
  padding: 10px 20px;
  text-transform: uppercase;
  color: snow;
}

.nav-menu li ul {
  z-index: -1;
  display: none;
  background-color: #62db9e;
  position: absolute;
  margin-top: 10px;
  list-style: none;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slider {
  position: relative !important;
}

.slider_item {
  outline: none;
}

.slider_item__info {
  padding: 30px;
}

.slider_item__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.slider_item__img img {
  max-width: 100%;
  background: url("../img/1.jpg") no-repeat center top;
  background-size: contain;
}

.slider_item__link {
  display: inline-block;
}

.slider_item__title {
  text-transform: uppercase;
  margin-bottom: 30px;
}

.slider_item__text {
  margin-bottom: 30px;
}

.slider-dots {
  position: absolute !important;
  bottom: 20px;
  left: 20px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-dots li button {
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 20px;
  border: none;
  background-color: #62db9e;
  color: #62db9e;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slider-dots li button:hover {
  background-color: #28af6b;
  color: #28af6b;
}

.slider-dots li button[aria-selected='true'] {
  background-color: black;
  color: black;
}

@media (max-width: 767px) {
  .header {
    margin-top: 10px;
  }
  .header_bars a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #62db9e;
  }
  .header_bars a .fa-bars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header_bars a .fa-bars-change {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: none;
    opacity: 0;
  }
  .header_bars a .fa-window-close {
    display: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header_bars a .fa-window-close-change {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
  }
  .nav {
    z-index: 99;
    margin-top: 10px;
    position: absolute;
    right: 0;
    opacity: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .nav .container, .nav .container-fluid {
    margin: 0;
    padding: 0;
  }
  .nav-menu {
    display: block;
  }
  .nav-menu_active {
    opacity: 1;
  }
  .nav-menu li {
    padding: 0;
    position: relative;
  }
  .nav-menu li:hover > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #28af6b;
  }
  .nav-menu li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
  }
  .nav-menu li ul {
    display: none;
    position: relative;
    z-index: 2;
    margin-top: 0;
    padding-left: 10px;
  }
  .nav-menu li ul li {
    padding: 0;
  }
}

.slider_item__info {
  padding: 10px;
}
/*# sourceMappingURL=style.css.map */