@media (max-width: 767px)
  .header
    margin-top: 10px
    &_bars
      a
        display: flex
        color: $main-color
        .fa-bars
          display: flex
          transition: 0.3s
          &-change
            transition: 0.3s
            display: none
            opacity: 0
        .fa-window-close
          display: none
          transition: 0.3s
          &-change
            transition: 0.3s
            display: flex
            opacity: 1
  .nav
    margin-top: 10px
    position: absolute
    right: 0
    opacity: 0
    transition: 0.4s
    .container, .container-fluid
      margin: 0
      padding: 0
    &-menu
      display: block
      &_active
          opacity: 1
      li
        padding: 0
        position: relative
        &:hover > ul
          display: flex
          flex-direction: column
          background-color: darken($main-color, 20%)
        a
          display: flex
          padding: 10px
        ul
          display: none
          position: relative
          z-index: 2
          margin-top: 0
          padding-left: 10px
          li
            padding: 0