@media (min-width: 992px) and (max-width: 1199px)
  .products
    &-grid
      &_item
        &__title
          font-size: 16px
        &__description
          font-size: 14px
        &-bottom
          flex-direction: column
        &__link
          margin-top: 10px

@media (min-width: 768px) and (max-width: 991px)
  .header
    &__title
      font-size: 36px
  .nav
    &-menu
      &:before
        display: none
      &:after
        display: none
  .products
    &-grid
      &_item
        max-width: 48%
        &__title
          font-size: 16px
        &__description
          font-size: 14px
        &-bottom
          // flex-direction: column
        &__price
          margin-bottom: 10px
          &__sale
            margin: 10px 0

@media (min-width: 400px) and (max-width: 767px)
  .section
    border-bottom: none
    &-title
      margin-top: 20px
      margin-bottom: 20px
      position: sticky
      top: 0
      display: block
      z-index: 2000
      background-color: #fff
    &_title
      border-bottom: 1px solid $main-color
      font-family: 'Futura PT Light', sans-serif
  .header
    margin-top: 10px
    &__title
      font-size: 40px
    &__subtitle
      display: none
    &_bars
      a
        display: flex
        color: $main-clr-2
        .fa-bars
          display: flex
          transition: 0.3s
          &-change
            transition: 0.3s
            display: none
            opacity: 0
        .fa-window-close
          display: none
          transition: 0.3s
          &-change
            transition: 0.3s
            display: flex
            opacity: 1
  .nav
    z-index: 6
    position: absolute
    top: 45px
    right: 0
    transform: scaleX(0)
    transform-origin: right center 0
    transition: 0.3s
    background-color: white
    opacity: 0
    &_active
      display: flex
      opacity: 1
      transform: scaleX(1)
    .container, .container-fluid
      margin: 0
      padding: 0
    &-menu
      display: flex
      flex-direction: column
      background-color: white
      li
        padding: 0
        transition: 0.3s
        &:hover
          background-color: white
        a
          font-family: 'Futura PT Light', sans-serif
          font-weight: 700
          border-bottom: 1px solid $main-clr-2
          display: flex
          justify-content: center
          padding: 10px
          color: $main-clr-2
          font-size: 14px
        ul
          display: block
          background-color: white
          transform: scaleY(1)
          position: relative
          margin-top: 0
          padding-left: 40px
          li
            padding: 0
  .wrapper
    position: relative
  .popup
    display: none
    width: 100%
    height: 100%
    z-index: 4
    position: absolute
    top: 0
    left: 0
    background-color: black
    opacity: 0.8
  .stocks
    &-slider
      position: relative
      &_item
        &__info
          padding: 10px
        &__title
          margin-bottom: 10px
        &__text
          margin-bottom: 10px
      &-dots
        top: -20px
        left: 50%
        transform: translateX(-50%)
        li
          button
            font-size: 1px
            width: 10px
            height: 10px
  .products
    &-grid
      display: flex
      flex-wrap: wrap
      align-items: stretch
      justify-content: space-between
      &_item
        flex: 0 0 48%
        margin: 2px
        max-width: 48%
        padding: 16px
        box-sizing: border-box
        text-align: center
        margin-bottom: 20px
        &__title
          font-size: 15px
        &__description
          text-align: center
          font-size: 14px
          margin-bottom: 10px
        &-bottom
          flex-direction: column
        &__price
          padding: 10px
          font-size: 16px
          i
            font-size: 14px
        &__link
          display: none
    &-card
      margin-top: 10px
      &_info
        &__title
          margin-top: 20px
  .footer
    &-item
      text-align: center
    &-menu
      li
        padding: 10px 0
    &_contacts
      align-items: center
    &__phone
      align-self: center
    &__time
      align-self: center
    &_socials
      justify-content: center
      margin-bottom: 10px
      align-self: center

@media (max-width: 399px)
  .section
    border-bottom: none
    &-title
      margin-top: 20px
      margin-bottom: 20px
      position: sticky
      top: 0
      display: block
      z-index: 2000
      background-color: #fff
    &_title
      border-bottom: 1px solid $main-clr-2
      font-family: 'Futura PT Light', sans-serif
  .header
    margin-top: 10px
    &__title
      font-size: 36px
    &__subtitle
      display: none
    &_bars
      a
        display: flex
        color: $main-clr-2
        .fa-bars
          display: flex
          transition: 0.3s
          &-change
            transition: 0.3s
            display: none
            opacity: 0
        .fa-window-close
          display: none
          transition: 0.3s
          &-change
            transition: 0.3s
            display: flex
            opacity: 1
  .nav
    z-index: 6
    position: absolute
    top: 45px
    right: 0
    transform: scaleX(0)
    transform-origin: right center 0
    transition: 0.3s
    background-color: white
    opacity: 0
    &_active
      display: flex
      opacity: 1
      transform: scaleX(1)
    .container, .container-fluid
      margin: 0
      padding: 0
    &-menu
      display: flex
      flex-direction: column
      background-color: white
      li
        padding: 0
        transition: 0.3s
        &:hover
          background-color: white
        a
          font-family: 'Futura PT Light', sans-serif
          font-weight: 700
          border-bottom: 1px solid $main-clr-2
          display: flex
          justify-content: center
          padding: 10px
          color: $main-clr-2
          font-size: 14px
        ul
          display: block
          background-color: white
          transform: scaleY(1)
          position: relative
          margin-top: 0
          padding-left: 40px
          li
            padding: 0
  .wrapper
    position: relative
  .popup
    display: none
    width: 100%
    height: 100%
    z-index: 4
    position: absolute
    top: 0
    left: 0
    background-color: black
    opacity: 0.8
  .stocks
    &-slider
      position: relative
      &_item
        &__info
          padding: 10px
        &__title
          margin-bottom: 10px
        &__text
          margin-bottom: 10px
      &-dots
        top: -20px
        left: 50%
        transform: translateX(-50%)
        li
          button
            font-size: 1px
            width: 10px
            height: 10px
  .products
    &-grid
      display: flex
      flex-wrap: wrap
      align-items: stretch
      justify-content: space-between
      &_item
        flex: 0 0 98%
        margin: 2px
        max-width: 98%
        padding: 16px
        box-sizing: border-box
        text-align: center
        margin-bottom: 20px
        &__title
          font-size: 15px
        &__description
          text-align: center
          font-size: 14px
          margin-bottom: 10px
        &-bottom
          flex-direction: column
        &__price
          padding: 10px
          font-size: 16px
          i
            font-size: 14px
        &__link
          display: none
    &-card
      margin-top: 10px
      &_info
        &__title
          margin-top: 20px
  .footer
    &-item
      text-align: center
    &-menu
      li
        padding: 10px 0
    &_contacts
      align-items: center
    &__phone
      align-self: center
    &__time
      align-self: center
    &_socials
      justify-content: center
      margin-bottom: 10px
      align-self: center