@import 'colors'
@import 'fonts'

*
  margin: 0
  padding: 0
  outline: none

body
  position: relative

h1, h2, h3, h4, h5, h6
  font-family: 'Futura PT Demi', sans-serif
p
  font-family: 'Futura PT Book', sans-serif

a
  text-decoration: none
  font-family: 'Futura PT Demi', sans-serif

.content


.section
  margin-top: 40px
  &_title
    margin-bottom: 20px
    color: $section-title

.header
  margin-top: 30px
  font-family: 'Futura PT Demi', sans-serif
  &_logo
  &__title
    font-family: 'Sunshiney', cursive
    font-size: 34px
    color: $main-color
    transition: 0.3s
    &:hover
      color: $main-color-d
  &__subtitle
    font-style: italic
  &_contacts
    text-align: center
    &__phone
      display: block
      font-size: 20px
      margin-bottom: 5px
      color: $section-title
      &:after
        margin-top: 5px
        display: block
        content: ''
        width: 100%
        height: 2px
        background-color: $main-color
    &__time
      font-style: italic
      font-size: 18px
      color: $link-color
      font-family: 'Futura PT Book', sans-serif
  &_socials
    display: flex
    flex-direction: column
    align-items: flex-start
    a
      font-size: 14px
      margin-left: 20px
      color: $link-color
      transition: 0.3s
      &:hover
        color: $main-color-d
      i
        color: $main-color
        margin-right: 10px
        font-size: 28px


  &_bars
    a
      font-size: 34px
      color: #000000

.nav
  font-family: 'Futura PT Demi', sans-serif
  margin-top: 30px
  background-color: $main-color
  &-active
    display: flex !important
  &-menu
    font-size: 18px
    list-style: none
    display: flex
    justify-content: center
    li
      padding: 10px 0
      transition: 0.3s
      &:hover
        background-color: $main-color-d
      &:hover > ul
        transform: translateY(0)
        z-index: 0
        display: flex
      a
        padding: 10px 20px
        text-transform: uppercase
        color: snow
      ul
        z-index: -1
        display: none
        background-color: $main-color
        position: absolute
        margin-top: 10px
        list-style: none
        transform: translateY(-100%)
        transition: 0.3s

.stocks

.slider
  position: relative !important
  &_item
    // border: 1px solid grey
    outline: none
    &__info
      padding: 30px
    &__img
      display: flex
      justify-content: flex-end
      overflow: hidden
      img
        max-width: 100%
        background: url('../img/1.jpg') no-repeat center top
        background-size: contain
    &__title
      display: inline-block
      padding: 0 5px
      text-transform: uppercase
      margin-bottom: 30px
      background-color: $main-color
      color: #fff
      font-size: 1.5rem
    &__text
      margin-bottom: 30px
      font-size: 18px
    &__link
      display: inline-block
      margin-bottom: 20px
      color: $main-color-d
      padding: 10px
      border: 1px solid $main-color-d
      transition: 0.3s
      &:hover
        box-shadow: 0 0 10px $main-color-l
  &-dots
    position: absolute
    bottom: 20px
    left: 20px
    list-style: none
    display: flex
    li
      button
        cursor: pointer
        width: 15px
        height: 15px
        border-radius: 50%
        margin-left: 10px
        margin-right: 10px
        border: none
        background-color: $main-color
        color: $main-color
        transition: 0.3s
        &:hover
          background-color: $main-color-l
          color: $main-color-l
        &[aria-selected='true']
          background-color: $main-color-d
          color: $main-color-d

@import 'media'